@import 'tailwindcss';
@plugin 'tailwindcss-animate';
@config "../../tailwind.config.js";
@tailwind utilities;

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';
@source '../views';

@custom-variant dark (&:is(.dark *));
@custom-variant light (&:not(*:is(.dark *)));
@custom-variant pending (&:is(.pending *));
@custom-variant approved (&:is(.approved *));
@custom-variant rejected (&:is(.rejected *));
@custom-variant canceled (&:is(.canceled *));
@custom-variant completed (&:is(.completed *));
@custom-variant in-progress (&:is(.in-progress *));


/* Regular 400 */
@font-face {
    font-family: 'Tajawal';
    src: url('@fonts/Tajawal/Tajawal-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

/* Light 300 */
@font-face {
    font-family: 'Tajawal';
    src: url('@fonts/Tajawal/Tajawal-Light-Regular.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

/* Medium 500 */
@font-face {
    font-family: 'Tajawal';
    src: url('@fonts/Tajawal/Tajawal-Medium-Regular.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

/* Black 900 */
@font-face {
    font-family: 'Tajawal';
    src: url('@fonts/Tajawal/Tajawal-Black-Regular.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}




@theme {
    --font-sans: 'Tajawal',
        'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

    --radius-lg: var(--radius);
    --radius-md: calc(var(--radius) - 2px);
    --radius-sm: calc(var(--radius) - 4px);

    --color-background: var(--background);
    --color-foreground: var(--foreground);

    --color-card: var(--card);
    --color-card-foreground: var(--card-foreground);

    --color-popover: var(--popover);
    --color-popover-foreground: var(--popover-foreground);

    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);

    --color-secondary: var(--secondary);
    --color-secondary-foreground: var(--secondary-foreground);

    --color-muted: var(--muted);
    --color-muted-foreground: var(--muted-foreground);

    --color-accent: var(--accent);
    --color-accent-foreground: var(--accent-foreground);

    --color-destructive: var(--destructive);
    --color-destructive-foreground: var(--destructive-foreground);

    --color-border: var(--border);
    --color-input: var(--input);
    --color-ring: var(--ring);

    --color-chart-1: var(--chart-1);
    --color-chart-2: var(--chart-2);
    --color-chart-3: var(--chart-3);
    --color-chart-4: var(--chart-4);
    --color-chart-5: var(--chart-5);

    --color-sidebar: var(--sidebar);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-ring: var(--sidebar-ring);
}

* {
    font-family: var(--font-sans);
}

/* الاستخدام */
body {
    font-family: var(--font-sans);
}

/* Variables */
:root {
    --radius: 0.65rem;
    --background: #f8f7fa;
    --foreground: #25293c;
    --card: #ffffff;
    --card-foreground: #2f3349;
    --popover: #ffffff;
    --popover-foreground: #24263b;
    --primary: rgb(48, 124, 244);
    --primary-foreground: rgb(233, 245, 255);
    --secondary: rgb(246, 246, 255);
    --secondary-foreground: rgb(38, 41, 58);
    --muted: rgb(245, 245, 255);
    --muted-foreground: rgb(132, 138, 155);
    --accent: rgb(245, 245, 255);
    --accent-foreground: rgb(38, 41, 58);
    --destructive: rgb(216, 74, 51);
    --border: rgb(230, 230, 245);
    --input: rgb(230, 230, 245);
    --ring: rgb(94, 205, 158);
    --chart-1: rgb(227, 156, 73);
    --chart-2: rgb(72, 178, 230);
    --chart-3: rgb(104, 115, 215);
    --chart-4: rgb(255, 215, 110);
    --chart-5: rgb(255, 187, 80);
    --sidebar: #fafafa;
    --sidebar-foreground: #24263b;
    --sidebar-primary: rgb(94, 205, 158);
    --sidebar-primary-foreground: rgb(250, 255, 255);
    --sidebar-accent: rgb(245, 245, 255);
    --sidebar-accent-foreground: rgb(38, 41, 58);
    --sidebar-border: rgb(230, 230, 245);
    --sidebar-ring: rgb(94, 205, 158);
}

.dark {
    --background: #25293c;
    --foreground: #f8f7fa;
    --card: #2f3349;
    --card-foreground: #ffffff;
    --popover: rgb(38, 41, 58);
    --popover-foreground: #ffffff;
    --primary: rgb(233, 245, 255);
    --primary-foreground: rgb(48, 124, 244);
    --secondary: rgb(64, 68, 88);
    --secondary-foreground: #ffffff;
    --muted: rgb(64, 68, 88);
    --muted-foreground: rgb(190, 190, 210);
    --accent: rgb(64, 68, 88);
    --accent-foreground: #ffffff;
    --destructive: rgb(214, 90, 64);
    --border: rgba(255, 255, 255, 0.1);
    --input: rgba(255, 255, 255, 0.15);
    --ring: rgb(80, 180, 150);
    --chart-1: rgb(120, 125, 230);
    --chart-2: rgb(94, 205, 158);
    --chart-3: rgb(255, 187, 80);
    --chart-4: rgb(185, 105, 255);
    --chart-5: rgb(245, 150, 90);
    --sidebar: rgb(38, 41, 58);
    --sidebar-foreground: #ffffff;
    --sidebar-primary: rgb(94, 205, 158);
    --sidebar-primary-foreground: rgb(70, 100, 80);
    --sidebar-accent: rgb(64, 68, 88);
    --sidebar-accent-foreground: #ffffff;
    --sidebar-border: rgba(255, 255, 255, 0.1);
    --sidebar-ring: rgb(80, 180, 150);
}


@layer base {
    body {
        @apply bg-background text-foreground;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        @apply font-bold;
    }

    a {
        @apply text-primary hover:text-primary-foreground;
    }

    * {
        @apply border-border outline-ring/50 m-0 p-0 box-border;
    }
}

@layer components {
    .sub-menu {
        @apply absolute top-[3.1rem] p-[15px] rounded-[6px] origin-[50%_-170px] backdrop-blur bg-accent-foreground/[0.04];
    }

    .iti__selected-country {
        @apply z-[1] flex items-center h-full bg-none border-0 outline-0 cursor-pointer;
    }

    .iti--inline-dropdown .iti__dropdown-content {
        @apply !bg-card !shadow-md !text-card-foreground mt-1 scrollbar overflow-hidden !border-accent/50;
    }

    .iti__dropdown-content {
        @apply !bg-card !shadow-md !text-card-foreground mt-1 scrollbar overflow-hidden !border-accent/50;
    }

    .iti__search-input {
        @apply !w-full !bg-background !text-[0.8125rem] !font-normal !appearance-none !px-[0.9rem] !py-2 !border !border-border !outline-none focus:!border-primary !transition-colors !ease-in-out !duration-150;
    }

    .iti__country-list {
        @apply scrollbar;
    }

    .iti__country.iti__highlight {
        @apply hover:!bg-accent/35;
    }
}

@layer utilities {
    .flex-center {
        @apply flex items-center;
    }

    .flex-center-between {
        @apply flex items-center justify-between;
    }

    .card {
        @apply bg-card text-card-foreground p-6 rounded-lg shadow-md;
    }

    .card-title {
        @apply text-xl font-semibold mb-4;
    }

    .card-description {
        @apply text-sm text-muted-foreground;
    }

    .required-label::after {
        content: "*";
        margin-right: 0.15rem;
        font-size: 1.4rem;
        color: theme("colors.red.500");
    }
}

@utility clip-path-circle-left {
    clip-path: circle(100% at 100% 50%);
}

@utility clip-path-circle-right {
    clip-path: circle(100% at 0% 50%);
}

@utility clip-path-ellipse-left {
    clip-path: circle(100%at 120% 80%);
}
@utility clip-path-ellipse-right {
    clip-path: circle(100% at -20% 80%);
}

@utility rtl {
    direction: rtl;
}

@utility ltr {
    direction: ltr;
}


[x-cloak] {
    display: none !important
}

.scrollbar::-webkit-scrollbar,
.iti__country-list::-webkit-scrollbar {
    width: var(--scrollbar-thumb-width);
    height: var(--scrollbar-thumb-width);
}

.scrollbar::-webkit-scrollbar-track,
.iti__country-list::-webkit-scrollbar-track {
    background: var(--scrollbar-track-color);
    border-radius: var(--scrollbar-track-radius);
    border: var(--scrollbar-track-border) solid var(--scrollbar-track-color);
}

.scrollbar::-webkit-scrollbar-thumb,
.iti__country-list::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-thumb-color);
    border-radius: var(--scrollbar-thumb-radius);
    border: var(--scrollbar-thumb-border) solid var(--scrollbar-track-color);
    box-sizing: border-box;
}

.scrollbar::-webkit-scrollbar-thumb:hover,
.iti__country-list::-webkit-scrollbar-thumb:hover {
    background-color: var(--scrollbar-thumb-hover-color);
}



/* دخول مع ارتداد */
@keyframes bounce-in-left {
    0% {
        opacity: 0;
        transform: translateX(100%);
    }

    60% {
        opacity: 1;
        transform: translateX(-10%);
    }

    80% {
        transform: translateX(5%);
    }

    100% {
        transform: translateX(0%);
    }
}

/* خروج سلس */
@keyframes slide-out-right {
    0% {
        opacity: 1;
        transform: translateX(0%);
    }

    100% {
        opacity: 0;
        transform: translateX(100%);
    }
}

.bounce-in-left {
    animation: bounce-in-left 0.5s forwards;
}

.slide-out-right {
    animation: slide-out-right 0.3s forwards;
}

.text-clamp-3 {
    @apply overflow-hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
}


